{
  "presets": [
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript",
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    // ["@babel/plugin-transform-runtime", {
    //   "regenerator": true
    // }]
  ]
}